<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Institut de soins esthétiques, se situant à Braine l'Alleud. Votre esthéticienne vous proposera une multitude de soins adaptés à votre peau dans un cadre cocooning, en utilisant les cosmetiques suivants : Bernard Cassière, Sothys, Mavex, Cirépil, Pronails. Marie, votre esthéticienne vous proposera un large choix de soins visage et corps ainsi que des massages.">
        <meta name="keywords" content="Institut de soins esthétiques, cosmétiques; Sothys, Bernard Cassière, Cirépil, Mavex, Pronails">
        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
        <!-- Library CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="./asset/style/libraries/bootstrap.css">-->
        <!-- CSS -->
        <link rel="stylesheet" href="/asset/style/reset.css">
        <link rel="stylesheet" href="/asset/style/marques.css">
        <!-- Library Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <!-- Library -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!--<script src="./asset/script/libraries/bootstrap.js" defer></script>-->
        <script src="/asset/script/libraries/jQuery.js" defer></script>
        <!-- Script JS -->
        <script src="/asset/script/main.js" defer></script>
        <title>Les Marques</title>
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg fixed-top">
                        <div class="container-fluid justify-content-center">
                            <img src="/asset/img/svg/cachet.svg" alt="Logo du site représentant un double cercle dans lesquels se trouvent un pissenlit" id="logo">
                            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around mx-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon top-bar"></span>
                                <span class="toggler-icon middle-bar"></span>
                                <span class="toggler-icon bottom-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" aria-current="page" href="/index.html">Présentation</a>
                                    </li>
                                    <li class="nav-item dropdown mx-5">
                                        <a class="nav-link dropdown-toggle" href="/asset/src/views/soins.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">Soins</a>
                                        <ul class="dropdown-menu p-3">
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet1.html">Soins du visage</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet2.html">Soins du visage dernières technologies</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet3.html">Beauté du regard</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet4.html">Mains & Pieds</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet5.html">Épilations</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet6.html">Massages</a></li>
                                          </ul>
                                        </li>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/marques.html">Marques</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/tarifs.html">Tarifs</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/réserver.html">Réserver</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 my-5">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 homeContent text-center mt-5">
                                <img src="/asset/img/pageMarques/MarquesTitle.svg" alt="Titre soins en blanc" class="homeTitle">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mainContent">
                <div class="container text-center">
                    <h5 class="card-title text-center mx-5 my-5 mainTitle">Bernard Cassiere</h5>
                    <!-- Section : Marques -->
                    <div class="row mx-5">
                        <div class="card border-0 rounded-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <img class="card-img p-5" src="/asset/img/pageMarques/BernardC.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <p class="card-text bodoniGrey">Bernard Cassière est une marque de produits français spécialisée dans les cosmétiques et les soins de beauté. 
                                    Nichée au cœur de la Haute-Corrèze, Bernard Cassière s'inspire de la nature pour créer des produits authentiques et naturels. 
                                    Voici quelques points clés sur Bernard Cassière : 
                                    </p>
                                </div>
                            </div>
                            <div class="row text-start">
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey"><span class="underLine">Origines naturelles</span> : Les produits sont formulés à partir d'ingrédients naturels, tels que le bleuet cultivé dans les jardins de la marque.</p>
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey"><span class="underLine">Qualité et tradition</span> : Bernard Cassière est une marque familiale et traditionnelle, 100% française, qui prône la beauté authentique.</p>
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey"><span class="underLine">Protocoles de soins</span> : La marque propose des protocoles de soins professionnels pour spas et instituts, favorisant un rapport d'harmonie avec la nature.</p>
                                </div>
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey"><span class="underLine">Eco-conception</span> : Bernard Cassière s'engage dans une démarche de développement durable et d'eco-conception.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title text-center mx-5 my-5 mainTitle">Celestetic</h5>
                    <div class="row mx-5">
                        <div class="card border-0 rounded-0">
                            <div class="row text-start">
                                <div class="col-md-6">
                                    <p class="card-text bodoniGrey">Celestetic est un laboratoire belge spécialisé dans les solutions dermo-esthétiques. 
                                        Voici quelques points clés sur cette marque :                                        
                                    </p>
                                    <p class="card-text bodoniGrey"><span class="underLine">Origines et mission</span> : : Celestetic a été créée avec l'objectif de développer des soins et des technologies esthétiques et anti-âge vraiment efficaces pour le visage et le corps.</p>
                                    <p class="card-text bodoniGrey"><span class="underLine">Produits de qualité</span> : Les produits Celestetic sont formulés à partir d'ingrédients de haute qualité et de principes actifs réparateurs et protecteurs.</p>
                                    <p class="card-text bodoniGrey"><span class="underLine">Solutions sur-mesure</span> : Celestetic propose des solutions sur-mesure pour répondre aux besoins spécifiques de chaque peau, basées sur la recherche scientifique.</p>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <div class="card-body">
                                        <img class="card-img" src="/asset/img/pageMarques/Celestic.png" alt="Image représentant Celestic">
                                    </div>
                                </div>
                            </div>
                            <div class="row text-start">
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey"><span class="underLine">Efficacité prouvée</span> : Les produits sont conçus pour améliorer visiblement et durablement l'aspect de la peau, et sont souvent utilisés en complément des soins professionnels. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title text-center mx-5 my-5 mainTitle">Combinal</h5>
                    <div class="row mx-5">
                        <div class="card border-0 rounded-0">
                            <div class="row text-start">
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <img class="card-img mt-5" src="/asset/img/pageMarques/Combianl.png" alt="Image représentant Celestic">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <p class="card-text bodoniGrey">L’histoire de Combinal a commencé dans les années 40, développant initialement une teinture pour fourrure afin d'imiter le vison. En 1975, le Dr Temt a adapté cette formule pour les cils humains, créant une teinture respectueuse de la structure des cils.                                      
                                    </p>
                                </div>
                            </div>
                            <div class="row text-start">
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey">La marque est née du verbe anglais "to combine," grâce à la possibilité de mélanger facilement les teintures pour des nuances personnalisées. Les jeunes femmes blondes autrichiennes étaient parmi les premières clientes, et la réputation de la marque a rapidement grandi dans le domaine de l'esthétique professionnelle. En 1997, Combinal a été distribuée en France, son principal marché. Depuis 2016, Perron Rigot a la distribution exclusive, développant la marque avec des produits comme le Keratin Lash Lift. Aujourd'hui, Combinal est reconnue pour son expertise dans la beauté du regard.</p>
                                    <p class="card-text bodoniGrey"><span class="underLine">Efficacité prouvée</span> : Les produits sont conçus pour améliorer visiblement et durablement l'aspect de la peau, et sont souvent utilisés en complément des soins professionnels. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title text-center mx-5 my-5 mainTitle">ProNails</h5>
                    <div class="row mx-5">
                        <div class="card border-0 rounded-0">
                            <div class="row text-start">
                                <div class="col-md-6">
                                    <p class="card-text bodoniGrey">ProNails est une marque belge spécialisée dans les soins des mains, des pieds et des ongles. 
                                        Fondée par Catherine Claus, ProNails a débuté en formant des prothésistes ongulaires et s'est rapidement imposée comme une référence en matière de soins ongulaires professionnels en Europe. 
                                        Aujourd'hui, ProNails propose une gamme complète de produits de soins professionnels, y compris des vernis à ongles, des soins pour les mains et des produits de beauté pour les ongles. 
                                        La marque est connue pour ses produits de haute qualité et ses tendances esthétiques. 
                                        Le siège social de ProNails est situé à Brasschaat, en Belgique, où les produits sont développés, testés et produits sous des normes de contrôle strictes.
                                    </p>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <div class="card-body">
                                        <img class="card-img" src="/asset/img/pageMarques/Pronails.png" alt="Image représentant PronNails">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title text-center mx-5 my-5 mainTitle">Mavex</h5>
                    <div class="row mx-5">
                        <div class="card border-0 rounded-0">
                            <div class="row text-start">
                                <div class="col-md-6">
                                    <div class="card-body mb-5">
                                        <img class="card-img my-5" src="/asset/img/pageMarques/Mavex.png" alt="Image représentant PronNails">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <p class="card-text bodoniGrey">Mavex est une marque suisse spécialisée dans les cosmétiques naturels à base d'herbes médicinales et de plantes alpines de haute altitude. 
                                        Fondée en 2009 par Katia Palagano et Emanuele Avai, Mavex a su anticiper la demande croissante pour des produits cosmétiques naturels et respectueux de l'environnement.
                                    </p>
                                </div>
                            </div>
                            <div class="row text-start">
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey"> 
                                        Les produits Mavex sont conçus pour les soins du visage, du corps, des mains et des pieds, et sont fabriqués à partir de plantes sauvages sélectionnées et traitées à la main. 
                                        La marque est présente dans plus de 50 pays à travers le monde et est reconnue pour ses soins de qualité et ses ingrédients naturels. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title text-center mx-5 my-5 mainTitle">Cirépil</h5>
                    <div class="row mx-5">
                        <div class="card border-0 rounded-0">
                            <div class="row text-start">
                                <div class="col-md-6">
                                    <p class="card-text bodoniGrey">Cirépil est une marque de produits de cire de beauté professionnelle appartenant à la société Perron Rigot, fondée en 1936 à Paris, France. 
                                    </p>
                                    <p class="card-text bodoniGrey">Cirépil est reconnue pour ses solutions de cire de haute qualité et son expertise dans le domaine de l'épilation. 
                                    </p>
                                    <p class="card-text bodoniGrey">La marque est particulièrement célèbre pour avoir créé le premier type de cire dure hypoallergénique et végétalienne. 
                                    </p>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <div class="card-body mb-5">
                                        <img class="card-img my-5" src="/asset/img/pageMarques/Cirepil.png" alt="Image représentant PronNails">
                                    </div>
                                </div>
                            </div>
                            <div class="row text-start">
                                <div class="col-md-12">
                                    <p class="card-text bodoniGrey"> 
                                        Cirépil propose une gamme variée de produits, y compris des cires molles et dures, des cires parfumées et non parfumées, ainsi que des traitements pré et post-épilation. 
                                        Ces produits sont utilisés par des professionnels dans plus de 80 pays à travers le monde. 
                                        Cirépil est également connue pour son engagement envers l'innovation et la formation continue des esthéticiens, offrant des formations et des ressources pour garantir des résultats optimaux pour les clients. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="text-center text-lg-start bg-dark text-light py-5">
            <section class="">
              <div class="container text-center text-md-start mt-5" id="containerFooter">
                <div class="row mt-3">
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <p class="text-uppercase text-center fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>Adresse
                    </p>
                    <p class="text-center">
                        Avenue du Fief 12, 1420 Braine-l'Alleud, Belgique
                    </p>
                    <div id="mapid" class="container-fluid my-3"></div>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <p class="text-uppercase text-center fw-bold mb-4">
                      Horaires
                    </p>
                    <div class="text-center">
                        <p>Lundi    09h00 - 19h00</p>
                        <p>Mardi    09h00 - 19h00</p>
                        <p>Mercredi 09h00 - 19h00</p>
                        <p>Jeudi    09h00 - 19h00</p>
                        <p>Vendredi 09h00 - 19h00</p>
                        <p>Samedi   09h00 - 16h00</p>
                        <p>Dimanche Fermé</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <p class="text-uppercase text-center fw-bold mb-4">
                            Réseaux Sociaux
                        </p>
                        <div class="text-center">
                            <a href="https://www.facebook.com/soinsdesoie"><img class="icons p-3" src="/asset/img/svg/facebook.svg" alt="Icône FaceBook"></a>
                            <a href="https://www.instagram.com/soins_de_soie_1420"><img class="icons p-3" src="/asset/img/svg/instagram.svg" alt="Icône Instagram"></a>
                        </div>
                  </div>
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <p class="text-uppercase text-center fw-bold mb-4">Coordonnées</p>
                    <p class="text-center">soinsdesoie1420@gmail.com</p>
                    <p class="text-center">0472/26.19.93</p>
                    <p class="text-center">RC  0691.859.626</p>
                  </div>
                </div>
              </div>
            </section>
                <div class="text-center fw-bolder">
                    <p>&copy; Christel Rodriguez Perez - 2025</p>
                </div>
          </footer>
    </body>
</html>