<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Institut de soins esthétiques, se situant à Braine l'Alleud. Votre esthéticienne vous proposera une multitude de soins adaptés à votre peau dans un cadre cocooning, en utilisant les cosmetiques suivants : Bernard Cassière, Sothys, Mavex, Cirépil, Pronails. Marie, votre esthéticienne vous proposera un large choix de soins visage et corps ainsi que des massages.">
        <meta name="keywords" content="Institut de soins esthétiques, cosmétiques; Sothys, Bernard Cassière, Cirépil, Mavex, Pronails">
        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
        <!-- Library CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="./asset/style/libraries/bootstrap.css">-->
        <!-- CSS -->
        <link rel="stylesheet" href="/asset/style/reset.css">
        <link rel="stylesheet" href="/asset/style/soinsOnglet2.css">
        <!-- Library Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <!-- Library -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!--<script src="./asset/script/libraries/bootstrap.js" defer></script>-->
        <script src="/asset/script/libraries/jQuery.js" defer></script>
        <!-- Script JS -->
        <script src="/asset/script/main.js" defer></script>
        <title>Les Soins du visage dernières technologies</title>
    </head>
    <body>
         <!-- Header -->
         <header>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg fixed-top">
                        <div class="container-fluid justify-content-center">
                            <img src="/asset/img/svg/cachet.svg" alt="Logo du site représentant un double cercle dans lesquels se trouvent un pissenlit" id="logo">
                            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around mx-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon top-bar"></span>
                                <span class="toggler-icon middle-bar"></span>
                                <span class="toggler-icon bottom-bar"></span>
                            </button>
                            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" aria-current="page" href="/index.html">Présentation</a>
                                    </li>
                                    <li class="nav-item dropdown mx-5">
                                        <a class="nav-link dropdown-toggle" href="/asset/src/views/soins.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">Soins</a>
                                        <ul class="dropdown-menu p-3">
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet1.html">Soins du visage</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet2.html">Soins du visage dernières technologies</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet3.html">Beauté du regard</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet4.html">Mains & Pieds</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet5.html">Épilations</a></li>
                                            <li><a class="dropdown-item my-2" href="/asset/src/views/soinsOnglet6.html">Massages</a></li>
                                          </ul>
                                        </li>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/marques.html">Marques</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/tarifs.html">Tarifs</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/réserver.html">Réserver</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 homeContent">
                                <div class="bigTitleContent">
                                    <p class="bigTitle">Soins du visage dernières technologies</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mainContent">
                <div class="container">
                    <div class="row">
                        <div class="card my-5 border-0 rounded-0">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="card-body mx-5 my-5">
                                    <h5 class="card-title text-center mx-5 my-5 BodoniFont fontSizeTitle">Soins du visage dernières technologies</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Section : Soins du visage dernières technologies -->
                    <div class="row">
                        <div class="card my-5 border-0 rounded-0">
                            <h5 class="card-title text-start bodoniVioletTitle my-5">Microneedling 45'&nbsp;-&nbsp; 100.00€/séance</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/asset/img/pageSoins/content/contentImg7.jpg" class="img-fluid rounded" alt="Image représentant un soin du visage" style="width: 90rem;">
                                </div>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <p class="card-text bodoniViolet shadowsFont mt-3">Le Microneedling est une technique esthétique innovante qui utilise de minuscules aiguilles pour créer de micro-perforations dans la couche supérieure de la peau. Ce processus stimule la production naturelle de collagène et d'élastine, deux composants clés pour une peau ferme et jeune.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">Ce traitement est particulièrement efficace pour atténuer les signes du vieillissement, comme les ridules et les rides, mais aussi pour améliorer l'apparence des cicatrices d'acné, des pores dilatés, et des taches pigmentaires. Le Microneedling est une alternative sûre et efficace aux procédures plus invasives, offrant des résultats impressionnants sans nécessiter une longue période de récupération.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">En plus de rajeunir et de lisser la peau, le Microneedling améliore également l'absorption des produits de soin. Ainsi, les sérums et crèmes appliqués pendant ou après le traitement pénètrent plus profondément, maximisant leurs effets bénéfiques.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">Optez pour le Microneedling pour une peau éclatante et rajeunie. Ce traitement assure une expérience confortable et des résultats visibles. Le Microneedling est adapté à tous les types de peau et peut être personnalisé selon vos besoins spécifiques.</p>
                                        <p class="card-text bodoniBrown shadowsFont mt-4">Recommandations : 6 séances espacées de 4 à 6 semaines</p>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img src="/asset/img/pageSoins/pictos/microneedling.png" class="pictoLargeScreen my-3" alt="Pictos de recommandations" style="width: 60rem;">
                                    <img src="/asset/img/pageSoins/pictos/microneedlingMedium.png" class="pictoMediumScreen d-none my-3" alt="Pictos de recommandations" style="width: 40rem;">
                                    <img src="/asset/img/pageSoins/pictos/microneedlingSmall.png" class="pictoSmallScreen d-none my-3" alt="Pictos de recommandations" style="width: 25rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card my-5 border-0 rounded-0">
                            <h5 class="card-title text-start bodoniVioletTitle my-5">Peeling 2.0&nbsp;&nbsp;30'&nbsp;-&nbsp;60.00€/séance</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/asset/img/pageSoins/content/contentImg8.jpg" class="img-fluid rounded" alt="Image représentant un soin du visage" style="width: 90rem;">
                                </div>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <p class="card-text bodoniViolet shadowsFont mt-3">Le peeling aux acides de fruits est une technique de soin de la peau révolutionnaire qui utilise des acides naturels pour exfolier délicatement les couches supérieures de l'épiderme. Cette méthode douce est idéale pour traiter une variété de problèmes de peau, y compris les ridules, l'hyperpigmentation, et l'acné.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">Le traitement repose sur l'utilisation d'acides issus de fruits, tels que l'acide glycolique, l'acide lactique et l'acide citrique. Ces substances naturelles travaillent ensemble pour dissoudre les liaisons qui maintiennent les cellules mortes à la surface de la peau, révélant une couche inférieure plus lisse, plus lumineuse et plus jeune.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">Ce peeling convient à tous les types de peau et offre des résultats visibles dès la première séance. Il est particulièrement efficace pour redonner éclat et vitalité aux peaux ternes ou vieillissantes. Après le traitement, vous constaterez une amélioration notable de la texture de votre peau, une réduction des imperfections et un teint plus uniforme.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">Avec le peeling aux acides de fruits, dites adieu aux imperfections et bonjour à une peau éclatante. Ce traitement non invasif est une excellente alternative aux procédures plus agressives. Il est conçu pour être confortable, avec peu ou pas de temps de récupération nécessaire.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">En choisissant cette méthode, vous optez pour une solution naturelle et douce, mais extrêmement efficace pour revitaliser votre peau.</p>
                                        <p class="card-text bodoniBrown mt-5">Recommandations : 6 séances espacées de 4 à 6 semaines</p>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img src="/asset/img/pageSoins/pictos/peeling2.0.png" class="pictoLargeScreen my-3" alt="Pictos de recommandations" style="width: 60rem;">
                                    <img src="/asset/img/pageSoins/pictos/peeling2.0Medium.png" class="pictoMediumScreen d-none my-3" alt="Pictos de recommandations" style="width: 40rem;">
                                    <img src="/asset/img/pageSoins/pictos/peeling2.0Small.png" class="pictoSmallScreen d-none my-3" alt="Pictos de recommandations" style="width: 25rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card my-5 border-0 rounded-0">
                            <h5 class="card-title text-start bodoniVioletTitle my-5">Hydro-microdermabrasion 45'&nbsp;&nbsp;-&nbsp;&nbsp;80.00€</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/asset/img/pageSoins/content/contentImg9.jpg" class="img-fluid rounded" alt="Image représentant un soin du visage" style="width: 90rem;">
                                </div>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <p class="card-text bodoniViolet shadowsFont mt-3">L’Hydro Microdermabrasion est une avancée technologique dans les soins de la peau, combinant les bienfaits de la microdermabrasion traditionnelle avec une infusion d'hydratation profonde. Ce soin non invasif exfolie la peau en douceur, éliminant les cellules mortes et les impuretés, tout en infusant simultanément la peau avec des sérums hydratants et nourrissants.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">Cette méthode est idéale pour tous les types de peau, y compris les peaux sensibles, car elle n'utilise pas de cristaux abrasifs. À la place, l’Hydro Microdermabrasion utilise un embout spécial qui exfolie, nettoie en profondeur, et hydrate la peau. Le résultat ? Une peau plus lisse, plus claire, et visiblement plus hydratée dès la première séance.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">L’Hydro Microdermabrasion est particulièrement efficace pour traiter les peaux ternes, sèches, ou vieillissantes, en leur redonnant vitalité et éclat. Elle est également bénéfique pour réduire l'apparence des ridules, des pores dilatés, et des imperfections cutanées.</p>
                                        <p class="card-text bodoniViolet shadowsFont mt-4">Cette technique douce mais efficace vous offre une expérience de soin unique, laissant votre peau radieuse et hydratée. Parfait pour celles qui cherchent un soin exfoliant sans l'agressivité des méthodes traditionnelles.</p>
                                        <p class="card-text bodoniBrown mt-5">Recommandations : 10 séances espacées de 2 à 4 semaines</p>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img src="/asset/img/pageSoins/pictos/hydroMicroDermAbrasion.png" class="pictoLargeScreen my-3" alt="Pictos de recommandations" style="width: 60rem;">
                                    <img src="/asset/img/pageSoins/pictos/hydroMicroDermAbrasionMedium.png" class="pictoMediumScreen d-none my-3" alt="Pictos de recommandations" style="width: 40rem;">
                                    <img src="/asset/img/pageSoins/pictos/hydroMicroDermAbrasionSmall.png" class="pictoSmallScreen d-none my-3" alt="Pictos de recommandations" style="width: 25rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card my-5 border-0 rounded-0">
                            <h5 class="card-title text-start bodoniVioletTitle my-5">Radio-fréquence</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="/asset/img/pageSoins/content/contentImg10.png" class="img-fluid rounded" alt="Image représentant un soin du visage" style="width: 90rem;">
                                </div>
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <article>
                                            <p class="card-text bodoniViolet shadowsFont mt-3">La Radiofréquence Rotative Multipolaire est une technologie innovante en matière de soins esthétiques, offrant un rajeunissement cutané non invasif. Cette méthode utilise des ondes de radiofréquence pour chauffer les couches profondes de la peau, stimulant ainsi la production de collagène et d'élastine. Le résultat est une peau plus ferme, plus lisse et un aspect visiblement rajeuni.</p>
                                            <p class="card-text bodoniViolet shadowsFont mt-4">Contrairement aux traitements plus invasifs, la Radiofréquence Rotative Multipolaire est douce, sûre et efficace pour tous les types de peau. Elle cible les signes du vieillissement tels que les rides, la perte de fermeté et les irrégularités du teint. De plus, la technologie rotative permet une distribution uniforme de la chaleur, maximisant l'efficacité du traitement tout en assurant un confort optimal.</p>
                                            <p class="card-text bodoniViolet shadowsFont mt-4">Profitez d'un lifting sans chirurgie avec la Radiofréquence Rotative Multipolaire. Ce traitement de pointe offre une alternative sûre aux procédures invasives, avec des résultats visibles dès les premières séances.</p>
                                            <p class="card-text bodoniBrown mt-5">Recommandations : 6 à 8 séances espacées de 2 à 3 semaines</p>
                                        </article>
                                        <article>
                                            <h5 class="card-title text-start bodoniVioletTitle my-5">Contour des yeux 30'&nbsp;&nbsp;-&nbsp;&nbsp;50.00€</h5>
                                        </article>
                                        <article>
                                            <h5 class="card-title text-start bodoniVioletTitle my-5">Visage, menton & cou 60'&nbsp;&nbsp;-&nbsp;&nbsp;90.00€</h5>
                                        </article>
                                        <article>
                                            <h5 class="card-title text-start bodoniVioletTitle my-5">Visage 45'&nbsp;&nbsp;-&nbsp;&nbsp;70.00€</h5>
                                        </article>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <img src="/asset/img/pageSoins/pictos/radioFréquence.png" class="pictoLargeScreen my-3" alt="Pictos de recommandations" style="width: 60rem;">
                                    <img src="/asset/img/pageSoins/pictos/radioFréquenceMedium.png" class="pictoMediumScreen d-none my-3" alt="Pictos de recommandations" style="width: 40rem;">
                                    <img src="/asset/img/pageSoins/pictos/radioFréquenceSmall.png" class="pictoSmallScreen d-none my-3" alt="Pictos de recommandations" style="width: 25rem;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card my-5 border-0 rounded-0">
                            <h5 class="card-title text-start bodoniVioletTitle mt-5">Soin multi-technique 90'&nbsp;&nbsp;-&nbsp;&nbsp;170.00€/séance</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <p class="card-text bodoniBrown mt-4">Recommandations : 6 séances espacées de 4 semaines</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="text-center text-lg-start bg-dark text-light py-5">
            <section class="">
              <div class="container text-center text-md-start mt-5" id="containerFooter">
                <div class="row mt-3">
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <p class="text-uppercase text-center fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>Adresse
                    </p>
                    <p class="text-center">
                        Avenue du Fief 12, 1420 Braine-l'Alleud, Belgique
                    </p>
                    <div id="mapid" class="container-fluid my-3"></div>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <p class="text-uppercase text-center fw-bold mb-4">
                      Horaires
                    </p>
                    <div class="text-center">
                        <p>Lundi    09h00 - 19h00</p>
                        <p>Mardi    09h00 - 19h00</p>
                        <p>Mercredi 09h00 - 19h00</p>
                        <p>Jeudi    09h00 - 19h00</p>
                        <p>Vendredi 09h00 - 19h00</p>
                        <p>Samedi   09h00 - 16h00</p>
                        <p>Dimanche Fermé</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <p class="text-uppercase text-center fw-bold mb-4">
                            Réseaux Sociaux
                        </p>
                        <div class="text-center">
                            <a href="https://www.facebook.com/soinsdesoie"><img class="icons p-3" src="/asset/img/svg/facebook.svg" alt="Icône FaceBook"></a>
                            <a href="https://www.instagram.com/soins_de_soie_1420"><img class="icons p-3" src="/asset/img/svg/instagram.svg" alt="Icône Instagram"></a>
                        </div>
                  </div>
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <p class="text-uppercase text-center fw-bold mb-4">Coordonnées</p>
                    <div class="text-center">
                        <p class="text-center">Envoyez-moi un mail en cliquant ci-dessous</p>
                        <a href="mailto:soinsdesoie1420@gmail.com"><img class="icons p-3" src="/asset/img/svg/mail.svg" alt="Icône email"></a> 
                    </div>
                    <p class="text-center">0472/26.19.93</p>
                    <p class="text-center">RC  0691.859.626</p>
                  </div>
                </div>
              </div>
            </section>
                <div class="text-center fw-bolder">
                    <p>&copy; Christel Rodriguez Perez - 2025</p>
                </div>
          </footer>
    </body>
</html> 