<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Institut de soins esthétiques, se situant à Braine l'Alleud. Votre esthéticienne vous proposera une multitude de soins adaptés à votre peau dans un cadre cocooning, en utilisant les cosmetiques suivants : Bernard Cassière, Sothys, Mavex, Cirépil, Pronails. Marie, votre esthéticienne vous proposera un large choix de soins visage et corps ainsi que des massages.">
        <meta name="keywords" content="Institut de soins esthétiques, cosmétiques; Sothys, Bernard Cassière, Cirépil, Mavex, Pronails">
        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
        <!-- Library CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="./asset/style/libraries/bootstrap.css">-->
        <!-- CSS -->
        <link rel="stylesheet" href="/asset/style/reset.css">
        <link rel="stylesheet" href="/asset/style/soinsOnglet4.css">
        <!-- Library Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <!-- Library -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!--<script src="./asset/script/libraries/bootstrap.js" defer></script>-->
        <script src="/asset/script/libraries/jQuery.js" defer></script>
        <!-- Script JS -->
        <script src="/asset/script/main.js" defer></script>
        <title>Beauté du regard</title>
    </head>
    <body>
         <!-- Header -->
         <header>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg fixed-top">
                        <div class="container-fluid justify-content-center">
                            <img src="/asset/img/svg/cachet.svg" alt="Logo du site représentant un double cercle dans lesquels se trouvent un pissenlit" id="logo">
                            <button class="navbar-toggler mx-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" aria-current="page" href="/index.html">Présentation</a>
                                    </li>
                                    <li class="nav-item dropdown mx-5">
                                        <a class="nav-link dropdown-toggle" href="/asset/src/views/soins.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">Soins</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/asset/src/views/soinsOnglet1.html">Soins du visage</a></li>
                                            <li><a class="dropdown-item" href="/asset/src/views/soinsOnglet2.html">Soins du visage dernières technologies</a></li>
                                            <li><a class="dropdown-item" href="/asset/src/views/soinsOnglet3.html">Beauté du regard</a></li>
                                            <li><a class="dropdown-item" href="/asset/src/views/soinsOnglet4.html">Mains & Pieds</a></li>
                                            <li><a class="dropdown-item" href="/asset/src/views/soinsOnglet5.html">Épilations</a></li>
                                            <li><a class="dropdown-item" href="/asset/src/views/soinsOnglet6.html">Massages</a></li>
                                          </ul>
                                        </li>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/marques.html">Marques</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/tarifs.html">Tarifs</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/contact.html">Contact</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/asset/src/views/réserver.html">Réserver</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            <section class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 homeContent">
                                <img src="/asset/img/pageSoins/SoinsTitle.svg" alt="Titre soins en blanc" class="homeTitle">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mainContent">
                <div class="container text-center">
                <h5 class="card-title text-center mx-5 my-5 mainTitle">Mains & Pieds</h5>
                <h6 class="secondTitle text-start mx-5 my-5 p-5">Soins des mains</h6>
                <!-- Section : Mains & Pieds -->
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Manucure express 15.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La Manucure express est un soin rapide mais efficace pour des ongles impeccables en un minimum de temps. Voici comment elle se déroule généralement :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Nettoyage et préparation</span> : Les mains et les ongles sont nettoyés pour éliminer toute trace de vernis précédent et pour préparer la surface.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Limage des ongles</span> : Les ongles sont limés pour leur donner une forme nette et uniforme.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Soin des cuticules</span> : Les cuticules sont repoussées et, si nécessaire, légèrement coupées pour un aspect soigné.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Polissage</span> : Les ongles sont polis pour éliminer les irrégularités et leur donner un aspect lisse et brillant.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin rapide et efficace est parfait pour celles qui ont un emploi du temps chargé mais souhaitent tout de même des mains soignées et des ongles impeccables.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Manucure 25.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La manucure est un soin complet pour embellir et entretenir les mains et les ongles. Voici comment se déroule une manucure classique :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Nettoyage et démaquillage</span> : Retrait du vernis à ongles existant et nettoyage des mains.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Limage des ongles</span> : Les ongles sont coupés et limés pour leur donner une forme nette et uniforme.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Trempage</span> : Les mains sont plongées dans un bol d'eau tiède et de savon doux pour ramollir les cuticules.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Soin des cuticules</span> : Les cuticules sont repoussées et éventuellement coupées pour un aspect soigné.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Polissage</span> : Les ongles sont polis pour éliminer les irrégularités et leur donner un aspect lisse et brillant.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Massage</span> : Application d'une crème hydratante suivie d'un massage des mains pour hydrater la peau et stimuler la circulation sanguine.</p>
                                    <p class="card-text bodoniViolet mt-4">Une manucure complète offre non seulement des ongles impeccables, mais aussi des mains douces et bien hydratées.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Baby Manucure 35.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La Baby Manucure est une technique de soin des ongles qui se distingue par son approche minutieuse et précise, utilisant notamment une ponceuse pour des résultats professionnels. Voici comment se déroule ce soin :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Préparation</span> : Les mains et les ongles sont nettoyés pour éliminer toute trace de vernis précédent. </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Limage des ongles</span> : Les ongles sont coupés et limés pour leur donner une forme nette et uniforme.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Traitement des cuticules</span> : Les cuticules sont repoussées et éventuellement coupées pour un aspect soigné. Une ponceuse est utilisée pour nettoyer précisément et en douceur les cuticules et les plis latéraux. </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Polissage</span> : Les ongles sont polis pour éliminer les irrégularités et leur donner un aspect lisse et brillant.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Hydratation</span> : Une crème hydratante est appliquée pour nourrir la peau et maintenir l'humidité.</p>
                                    <p class="card-text bodoniViolet mt-4">La Baby Manucure est réputée pour ses résultats impeccables et durables, offrant des ongles très propres et bien entretenus. C'est un choix idéal pour celles et ceux qui recherchent une manucure soignée et élégante.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Manucure Spa 45.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La manucure spa est un soin conçu pour offrir une expérience de relaxation complète tout en embellissant et en nourrissant les ongles et les mains. Voici comment se déroule généralement ce traitement :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Bain de mains relaxant</span> : Les mains sont plongées dans un bol d'eau tiède pour adoucir la peau et détendre les muscles.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Nettoyage et démaquillage </span> : Retrait du vernis à ongles existant et nettoyage des mains.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Exfoliation</span> : Utilisation d'un gommage pour éliminer les cellules mortes et lisser la peau.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Soin des cuticules</span> : Les cuticules sont repoussées et éventuellement coupées pour un aspect soigné.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Limage des ongles</span> : Les ongles sont coupés et limés pour leur donner une forme nette et uniforme. </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Masque hydratant</span> : Application d'un masque nourrissant pour revitaliser la peau des mains, laissé en place pendant quelques minutes.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Massage des mains</span> : Un massage relaxant avec une crème hydratante pour nourrir la peau et stimuler la circulation sanguine.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin complet offre une parenthèse de bien-être et des mains impeccablement soignées.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="secondTitle text-start mx-5 my-5 p-5">Soins des pieds</h6>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Beauté des pieds 25.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La beauté des pieds est essentielle pour se sentir bien et se présenter avec confiance. Voici comment se déroule généralement un soin de beauté des pieds simplifié :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Nettoyage et démaquillage </span> : Retrait du vernis à ongles existant et nettoyage des mains.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Traitement des ongles</span> : Les ongles sont coupés et limés pour leur donner une forme nette et uniforme. Soin des cuticules pour hydrater et prévenir les accrocs.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Élimination des callosités</span> : Utilisation d’une râpes pour adoucir les zones rugueuses.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Massage des pieds</span> : Application d'une crème hydratante en massant pour stimuler la circulation et nourrir la peau.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin complet offre une sensation de bien-être immédiat et des pieds impeccablement soignés.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Beauté des pieds électrique 30.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La beauté des pieds électrique est une méthode efficace et précise pour soigner et embellir les ongles des pieds à l'aide d'une ponceuse. Voici comment se déroule ce soin :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Préparation des pieds</span> : Les ongles des pieds sont nettoyés pour éliminer toute trace de vernis précédent et toute saleté.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Limage des ongles</span> : Les ongles sont coupés et limés pour leur donner une forme nette et uniforme.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Ponçage des ongles</span> : Utilisation d'une ponceuse électrique avec un embout adapté pour lisser la surface des ongles, éliminer les irrégularités et les stries.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Traitement des cuticules</span> : Les cuticules sont repoussées et éventuellement coupées pour un aspect soigné, en utilisant un embout spécifique pour une précision optimale.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Polissage</span> : Les ongles sont polis avec un embout doux pour un fini lisse et brillant.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Élimination des callosités</span> : Utilisation d’une râpes pour adoucir les zones rugueuses.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Hydratation</span> : Application d'une huile nourrissante ou d'une crème hydratante sur les ongles et les cuticules pour réhydrater et protéger la peau.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin permet d'obtenir des ongles des pieds impeccablement soignés et polis, tout en offrant un résultat rapide et durable.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Pédicure 40.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La pédicure médicale est un soin professionnel spécialisé, destiné à traiter les problèmes des pieds tout en offrant des soins esthétiques. Voici comment se déroule ce soin :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Évaluation des pieds</span> : Un examen approfondi des pieds est réalisé pour identifier les problèmes spécifiques, tels que les cors, callosités, ongles incarnés, infections fongiques, etc. <p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Nettoyage et désinfection</span> : Les pieds sont soigneusement nettoyés et désinfectés pour assurer une hygiène parfaite.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Traitement des ongles</span> : Les ongles sont coupés et limés avec précision pour éviter les ongles incarnés et autres problèmes.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Soin des cuticules</span> : Les cuticules sont repoussées et éventuellement coupées pour un aspect soigné.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Élimination des cors et callosités</span> : Utilisation d'instruments spécifiques et de techniques précises pour enlever les cors, callosités et autres duretés de la peau.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Hydratation et massage</span> : Application d'une crème hydratante médicale pour nourrir la peau et un massage léger pour stimuler la circulation sanguine.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin complet est essentiel pour maintenir la santé des pieds, surtout pour les personnes souffrant de diabète ou d'autres affections chroniques.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Pédicure électrique 45.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La pédicure électrique est une méthode efficace et moderne pour soigner et embellir les pieds en utilisant une ponceuse. Voici comment se déroule ce soin :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Préparation des pieds</span> : Les pieds sont nettoyés pour adoucir la peau. <p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Limage des ongles</span> : Les ongles sont coupés et limés pour leur donner une forme nette et uniforme.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Traitement des cuticules</span> : Les cuticules sont repoussées et éventuellement coupées pour un aspect soigné. Une ponceuse est utilisée pour nettoyer précisément et en douceur les cuticules et les plis latéraux.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Exfoliation</span> : Utilisation d'une ponceuse électrique avec différentes embouts pour éliminer les callosités et les peaux mortes. Les embouts sont choisis en fonction des zones à traiter et des besoins spécifiques de la peau.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Polissage</span> : Les ongles sont polis avec un embout doux pour éliminer les irrégularités et leur donner un aspect lisse et brillant.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Hydratation</span> : Application d'une crème hydratante suivie d'un massage des pieds pour nourrir la peau et stimuler la circulation sanguine.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin complet permet d'obtenir des pieds parfaitement soignés, doux et revitalisés.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">Pédicure Spa 55.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La pédicure Spa est d'une indulgence parfaite pour chouchouter vos pieds et les garder en pleine forme. Voici comment elle se déroule :</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Bain de pieds relaxant</span> : On commence par plonger les pieds dans un bain tiède pour adoucir la peau et détendre les muscles.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Exfoliation</span> : Utilisation d'un gommage pour éliminer les peaux mortes et lisser la peau.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Traitement des ongles</span> : Coupe et lime des ongles pour leur donner une forme nette. Soin des cuticules pour hydrater et prévenir les accrocs.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Élimination des callosités</span> :Utilisation de lames spéciales ou de râpes pour adoucir les zones rugueuses.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application d'un masque nourrissant</span> : Application d'un masque hydratant et revitalisant pour apaiser et régénérer la peau des pieds.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Massage des pieds</span> : Application d'une crème hydratante en massant pour stimuler la circulation et nourrir la peau.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin procure non seulement une sensation de bien-être immédiat mais contribue aussi à la santé globale des pieds. Une fois terminé, vous vous sentirez légère et rafraîchie, prête à affronter la journée !<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">+ Calluspeeling 40.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">Le Calluspeeling est un soin professionnel pour la beauté des pieds qui permet d'éliminer les callosités et les crevasses de manière douce et efficace. 
                                    Voici comment se déroule ce traitement : 
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Préparation</span> : Les pieds sont nettoyés et préparés pour le soin.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application de patchs</span> : Des patchs spéciaux sont appliqués sur les zones callosités.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Exfoliation</span> : Les patchs contiennent des agents exfoliants qui agissent sur les callosités pour les adoucir. <p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Retrait des patchs</span> : Les patchs sont retirés après environ 15 minutes. </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Élimination des callosités</span> : Utilisation d’un « racloir » spécial et d’une râpe pour adoucir les zones rugueuses.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Massage et hydratation</span> : Les pieds sont ensuite massés avec une crème hydratante pour apaiser la peau et stimuler la circulation.</p>
                                    <p class="card-text bodoniViolet mt-4">Ce traitement est rapide et permet d'obtenir des pieds incroyablement doux et lisses. Il est souvent utilisé par les esthéticiennes et les podologues pour offrir un soin complet et sans douleur aux pieds de leurs clients. À combiner de préférence et si souhaité à une beauté des pieds, pour un résultat encore plus impeccable et des pieds parfaitement entretenus. <p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">+ Pose vernis 15.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La pose de vernis combinée à un soin des mains de votre choix offre une expérience complète de beauté et de bien-être pour des mains impeccablement soignées. Voici comment se déroule cette partie du soin : 
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application de la base</span> : Une couche de base est appliquée pour protéger les ongles et prolonger la tenue du vernis.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Pose du vernis de couleur </span> : Application de deux couches de vernis de la couleur choisie, en laissant chaque couche sécher entre les applications.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application du top coat</span> : Une couche de top coat est appliquée pour sceller la couleur et ajouter de la brillance.<p>
                                    <p class="card-text bodoniViolet mt-4">La pose vernis permet d'obtenir des ongles magnifiquement colorés et des mains parfaitement soignées.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">+ Pose vernis semi-permanent 25.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La pose de vernis semi-permanent combinée à la manucure express ou à une Baby Manucure est une technique idéale pour obtenir des ongles impeccables qui durent jusqu'à deux à trois semaines sans s'écailler. Voici comment se déroule cette partie du soin : 
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Ponçage de la plaque de l'ongle</span> : Une lime est utilisée pour légèrement poncer la surface des ongles. Cela aide à éliminer les irrégularités et à créer une surface rugueuse pour une meilleure adhérence du vernis.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Déshydratation des ongles</span> : Utilisation d'un produit déshydratant pour préparer la surface des ongles à la pose du vernis.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application de la base</span> : Une couche de base est appliquée pour protéger les ongles et garantir une meilleure adhérence du vernis.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Pose du vernis de couleur</span> : Application de deux couches de vernis semi-permanent, en polymérisant chaque couche sous une lampe LED pour un séchage rapide et une tenue optimale.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application du top coat</span> : Une couche de top coat est appliquée pour sceller la couleur et ajouter de la brillance. Cette couche est également polymérisée sous une lampe LED. <p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Nettoyage</span> : La couche collante de finition est enlevée avec un nettoyant pour vernis semi-permanent.<p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin prend généralement 30’ et permet d'obtenir des ongles magnifiquement colorés et ultra-résistants, parfaits pour celles qui cherchent une manucure durable et sans souci.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">+ Pose BFlex 35.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La pose de BFlex est une technique moderne pour des ongles élégants et durables. Voici comment se déroule généralement ce soin :
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Préparation des ongles</span> : Les ongles sont nettoyés et limés pour obtenir une forme uniforme.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application du BFlex</span> : Une base coat est appliquée, suivie de la couche BFlex. Celle-ci est polymérisée sous une lampe UV ou LED pour durcir.</p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Mise en forme</span> : Les ongles sont légèrement limés pour parfaire la forme désirée.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Finition</span> : Une top coat est appliquée pour sceller et ajouter de la brillance. La couche est à nouveau durcie sous la lampe UV ou LED.<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">+ Supplément french 10.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La pose de vernis French est une technique élégante qui donne aux ongles un aspect soigné et naturel, avec des pointes blanches classiques. Voici comment se déroule ce soin : 
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application du vernis blanc</span> : Une bande de vernis blanc est appliquée sur le bord libre de l'ongle pour créer le classique "sourire" de la French manucure.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application du vernis rose ou nude</span> : Une couche de vernis rose pâle ou nude est appliquée sur l'ensemble de l'ongle, y compris la bande blanche, pour unifier la couleur. 
                                    </p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin permet d'obtenir des ongles propres, soignés et naturellement élégants. Parfaite pour toutes les occasions !<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row">
                    <div class="card my-5 border-0 rounded-0">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="card-body text-start">
                                    <h5 class="card-title text-start bodoniVioletTitle">+ Dépose vernis semi-permanent 15.00€</h5>
                                    <p class="card-text bodoniViolet mt-4">La dépose de vernis semi-permanent est un processus délicat qui permet d'enlever le vernis sans endommager les ongles naturels. Voici comment se déroule ce soin : 
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Limage de la surface</span> : Utilisation d'une lime douce pour enlever la couche supérieure du vernis semi-permanent, permettant ainsi au dissolvant de mieux pénétrer.<p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Application de dissolvant</span> : Les ongles sont enveloppés dans des cotons imbibés de dissolvant spécifique pour vernis semi-permanent. 
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Enveloppement des ongles</span> : Chaque doigt est enveloppé dans du papier aluminium pour maintenir les cotons en place et permettre au dissolvant de travailler efficacement. Ce processus prend généralement 10 à 15 minutes. 
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Retrait du vernis</span> : Après le temps de pose, les enveloppements sont enlevés, et le vernis ramolli est délicatement retiré à l'aide d'un bâtonnet de bois ou d'un pousse-cuticules.
                                    </p>
                                    <p class="card-text bodoniGrey mt-4"><span class="underLine">Hydratation</span> : Application d'une huile nourrissante ou d'une crème hydratante sur les ongles et les cuticules pour réhydrater et apaiser la peau.
                                    </p>
                                    <p class="card-text bodoniViolet mt-4">Ce soin assure une dépose en douceur du vernis semi-permanent sans agresser les ongles naturels. <p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
          </section>
        </main>
        <footer class="text-center text-lg-start bg-dark text-light py-5">
            <section class="">
              <div class="container text-center text-md-start mt-5" id="containerFooter">
                <div class="row mt-3">
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <p class="text-uppercase fw-bold mb-4">
                      <i class="fas fa-gem me-3"></i>Adresse
                    </p>
                    <p>
                        Avenue du Fief 12, 1420 Braine-l'Alleud, Belgique
                    </p>
                    <div id="mapid" class="container-fluid"></div>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <p class="text-uppercase fw-bold mb-4">
                      Horaires
                    </p>
                    <div class="">
                        <p>Lundi    09h00 - 19h00</p>
                        <p>Mardi    09h00 - 19h00</p>
                        <p>Mercredi 09h00 - 19h00</p>
                        <p>Jeudi    09h00 - 19h00</p>
                        <p>Vendredi 09h00 - 19h00</p>
                        <p>Samedi   09h00 - 16h00</p>
                        <p>Dimanche Fermé</p>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <p class="text-uppercase fw-bold mb-4">
                            Réseaux Sociaux
                        </p>
                        <div class="">
                            <a href="https://www.facebook.com/soinsdesoie"><img class="icons p-3" src="./asset/img/svg/facebook.svg" alt="Icône FaceBook"></a>
                            <a href="https://www.instagram.com/soins_de_soie_1420"><img class="icons p-3" src="./asset/img/svg/instagram.svg" alt="Icône Instagram"></a>
                        </div>
                  </div>
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <p class="text-uppercase fw-bold mb-4">Coordonnées</p>
                    <p>soinsdesoie1420@gmail.com</p>
                    <p>0472/26.19.93</p>
                    <p>RC  0691.859.626</p>
                  </div>
                </div>
              </div>
            </section>
                <div class="text-center fw-bolder">
                    <p>&copy; Christel Rodriguez Perez - 2025</p>
                </div>
          </footer>
    </body>
</html> 