/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');


:root 
{
    --grisF : #A09E9D;
    --gris : #C7C2BF;
    --beige : #E3D1BD;
    --brun : #C0A48F;
    --brunF : #765E51;
    --violet : #5D3A66;
    --blanc : #ffffff;
}

body
{
   overflow-x: hidden;
}

p
{
    line-height: 2rem;
}

.BodoniFont
{
    font-family: "Bodoni Moda", serif;
    color: var(--grisF);
}

.CaveatFont
{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.boldFont
{
    font-weight: bold;
}

.underLine
{
    text-decoration: underline;
    color: var(--grisF);
}

.bodoniGrey
{
    color: var(--grisF);
    font-size: 1.8em;
    line-height: 1.5;
}

.bodoniViolet
{
    color: var(--violet);
    font-size: 1.6em;
    line-height: 1.6em;
}

.bodoniBrown
{
    color: var(--brunF);
    font-size: 1.6em;
    font-weight: bold;
}

.bodoniVioletTitle
{
    color: var(--violet);
    font-size: 2em;
    font-weight: bold;
}

#logo
{
    height: 15rem;
    width: 15rem;
}

/* Header */
header
{
    width: 100%;
}

nav .nav-link
{
    padding: 30px;
    color: var(--blanc);
    font-size: 1.5em;
}

nav .nav-link:hover
{
    color: var(--beige);
}

nav .nav-item .dropdown-menu
{
    height: 20em;
    width: 35em;
}

nav .dropdown-menu .dropdown-item
{
    font-size: 1.8em;
}

.sticky
{
    background: #000;
    opacity: 50%;
    height: 150px;
}
/* END Header */

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

/* HomeSection */
main .home
{
    height: 1200px;
    background-image: url(/asset/img/pageMarques/Marques.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .homeContent
{
    /*position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);*/
}

.home .homeTitle
{
    height: 30em;
    width: 30em;
}

.secondTitle
{
    color: var(--violet);
    font-family: "caveat";
    font-size: 3.5em;
}
/* END HomeSection */

/* MainSection */
main .mainContent
{
    height: 5300px;
}

.mainTitle
{
    color: var(--brunF);
    font-size: 4rem;
    font-family: "caveat";
}

/* END MainSection */

/* Footer */
#mapid 
{
    height: 300px;
    border-radius: 10px;
}

footer .icons
{
    height: 5rem;
    width: 5rem;
}