/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');


:root 
{
    --grisF : #A09E9D;
    --gris : #C7C2BF;
    --beige : #E3D1BD;
    --brun : #C0A48F;
    --brunF : #765E51;
    --violet : #5D3A66;
    --blanc : #ffffff;
}

body
{
   overflow-x: hidden;
}

p
{
    line-height: 2rem;
}

.BodoniFont
{
    font-family: "Bodoni Moda", serif;
    color: var(--grisF);
}

.CaveatFont
{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

#logo
{
    height: 15rem;
    width: 15rem;
}

/* Header */
header
{
    width: 100%;
}

/* Nav Toggle Animation */
.navbar-toggler
{
    width: 30px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active, 
.navbar-toggler-icon:focus
{
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span 
{
    margin: 0;
    padding: 0;
}

.toggler-icon
{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar
{
    margin-top: 0px;
}

/* Lorsque la nav est active */
.navbar-toggler .top-bar
{
    margin-top: 0;
    transform: rotate(135deg);
} 

.navbar-toggler .middle-bar
{
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar
{
    margin-top: 0;
    transform: rotate(-135deg);
}

/* Quand la nav est en mode collapse */

.navbar-toggler.collapsed .top-bar
{
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar
{
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar
{
    margin-top: 20px;
    transform: rotate(0deg);
}

/* Couleur des 3 lignes */
.navbar-toggler.collapsed .toggler-icon
{
    background: linear-gradient( 263deg, rgba(252, 74, 74, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
/* END */

nav .nav-link
{
    padding: 30px;
    color: var(--blanc);
    font-size: 1.8em;
}

nav .nav-link:hover
{
    color: var(--beige);
}

nav .nav-item .dropdown-menu
{
    height: 20em;
    width: 35em;
    border-radius: 15px;
    background-color: black;
}

nav .dropdown-menu .dropdown-item:hover
{
    color: var(--brunF);
}

nav .dropdown-menu .dropdown-item
{
    font-size: 1.8em;
    color: var(--blanc);
}


.sticky
{
    background: #000;
    opacity: 50%;
    height: 150px;
}
/* END Header */

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

/* HomeSection */
main .home
{
    height: 1200px;
    background-image: url(/asset/img/pageSoins/AloeVera2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .homeTitle
{
    height: 50em;
    width: 50em;
}

/* END HomeSection */

/* MainSection */
main .mainContent
{
    height: 9900px;
}

.mainTitle
{
    color: var(--brunF);
    font-size: 4rem;
    font-family: "caveat";
}

.bodoniViolet
{
    color: var(--violet);
    font-size: 1.6em;
    line-height: 1.6em;
}

.bodoniBrown
{
    color: var(--brunF);
    font-size: 1.6em;
    font-weight: bold;
}

.bodoniVioletTitle
{
    color: var(--violet);
    font-size: 2em;
    font-weight: bold;
}

/* END MainSection */

/* Footer */
#mapid 
{
    height: 300px;
    border-radius: 10px;
}

footer .icons
{
    height: 5rem;
    width: 5rem;
}

/* media Queries */

/* Nav */
@media only screen and (min-width : 992px) and (max-width : 1194px)
{
    nav .nav-item
    {
       margin-left: -2% !important;
       margin-right: 5% !important;
    }
} 

@media only screen and (min-width : 0px) and (max-width : 990px)
{
    nav .collapse 
    {
        background-color: #000;
        opacity: 70%;
        border-radius: 15px;
    }
}

@media only screen and (min-width : 0px) and (max-width : 545px)
{
    nav .dropdown-menu
    {
        font-size: .8em;
    }
}


/* home */
@media only screen and (min-width : 800px) and (max-width : 991px)
{
    .home .homeTitle
    {
        height: 40em;
        width: 40em;
    }

    main .home
    {
        height: 1000px;
    }
}

@media only screen and (min-width : 500px) and (max-width : 799px)
{
    .home .homeTitle
    {
        height: 30em;
        width: 30em;
    }

    main .home
    {
        height: 900px;
    }
}

@media only screen and (min-width : 0px) and (max-width : 499px)
{
    .home .homeTitle
    {
        height: 20em;
        width: 20em;
    }

    main .home
    {
        height: 700px;
    }
}

/* mainTitle */
@media only screen and (min-width : 500px) and (max-width : 767px)
{
    .mainContent .mainTitle
    {
        font-size: 3em;
    }
}

@media only screen and (min-width : 0px) and (max-width : 499px)
{
    .mainContent .mainTitle
    {
        font-size: 2.7em;
    }
}

/* mainContent */
@media only screen and (min-width : 0px) and (max-width : 1199px)
{
    main .mainContent
    {
        height: 11000px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1020px)
{
    .mainContent .pictoMediumScreen
    {
        display: block !important;
    }

    .mainContent .pictoLargeScreen
    {
        display: none;
    }
}

@media only screen and (min-width : 0px) and (max-width : 767px)
{
    .mainContent .pictoMediumScreen
    {
        display: none;
    }

    .mainContent .pictoLargeScreen
    {
        display: none;
    }

    .mainContent .pictoSmallScreen
    {
        display: block !important;
    }
}

@media only screen and (min-width : 0px) and (max-width : 1199px)
{
    main .mainContent
    {
        height: 17100px;
    }
}
