/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root 
{
    --grisF : #A09E9D;
    --gris : #C7C2BF;
    --beige : #E3D1BD;
    --brun : #C0A48F;
    --brunF : #765E51;
    --violet : #5D3A66;
}

body
{
   overflow-x: hidden;
}

p
{
    line-height: 2rem;
}

.BodoniFont
{
    font-family: "Bodoni Moda", serif;
}

#logo
{
    height: 15rem;
    width: 15rem;
}

/* Header */
header
{
    width: 100%;
}

nav .nav-link
{
    padding: 30px;
    color: var(--grisF);
    font-size: 1.5em;
}
/* END Header */

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

/* HomeSection */
main .home
{
    height: 1200px;
    background-image: url(/asset/img/pageAccueil/Home.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#mapid 
{
    height: 300px;
    border-radius: 10px;
}
/* END HomeSection */